<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Edit</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <!-- Navbar -->
    <nav class="flex justify-between items-center p-4 bg-white fixed w-full z-10 shadow-lg">
        <a href="index" class="text-2xl font-bold text-blue-500">WePlay</a>
        <div class="hidden md:flex space-x-6">
            <a href="index" class="hover:text-blue-500">Home</a>
            <a href="about_us" class="hover:text-blue-500">About Us</a>
        </div>
        <a href="login" class="text-blue-500 font-bold hover:text-blue-400">Login</a>
        <button id="menuToggle" class="md:hidden text-blue-500 focus:outline-none">
            <span id="menuIcon">☰</span>
        </button>
    </nav>

    <div class="bg-gray-100 flex justify-center items-center min-h-screen">
    <div class="bg-white p-6 rounded-lg shadow-lg w-96">
        <h2 class="text-xl font-semibold text-center mb-4">Edit Profile</h2>
        
        <div class="flex flex-col items-center">
            <img src="assets/event.jpg" alt="Profile Image" class="w-24 h-24 rounded-full border mb-4">
            <label class="w-full text-gray-600 text-sm mb-1">Name</label>
            <input type="text" value="arun" class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            
            <label class="w-full text-gray-600 text-sm mb-1">Password</label>
            <input type="password" value="helo" class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            <label class="w-full text-gray-600 text-sm mb-1">Retry Password</label>
            <input type="password" value="helo" class="w-full p-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"> 
            
            <label for="profile" class="block text-gray-700">Upload Profile Picture</label>
            <input type="file" id="profile" name="profile" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
            
            <button class="mt-4 bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600">Save Changes</button>
        </div>
    </div>
    </div>
</body>
</html>
